.content
  .sideber
    .user-section.clearfix
      %h2.user-section__name
        = current_user.name
      = link_to "/users/#{current_user.id}/edit", class:"user-section__setting" do
        %i.fa.fa-cog
      = link_to new_group_path, class:"user-section__editing" do
        %i.fa.fa-edit
    - current_user.groups.each do |group|
      = render partial: "group", locals: { group: group}

  .main-content
    .view-screen
      .chat-head.clearfix
        .left-contents
          %h3.left-contents__title サンプル
          %p.left-contents__member
            Member :
            = render @users
            / - @group.users.each do |user|
            /   = user.name
        %a.chat-head__edit{href:""} Edit
      .chat-main
        = render @messages
    .footer.clearfix
      .footer-body
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'message', placeholder: 'type a message'
          = f.label :image, class: 'message-label' do
            = fa_icon 'picture-o', class: 'fa'
            = f.file_field :image, class: 'upload-icon'
          = f.submit "SEND", class: 'sent-bottun'
